# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.testmondata

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# If you use MySQL, you can ignore the below
*.sql

# Media files
media

# Static files
staticfiles

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# pyenv
.python-version

# Environments
.env
.env.*

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Profiling data
.prof

# Django migrations
migrations/

# Additional directories or files
# Add any other files or directories generated during development
# e.g., for temporary files or logs

# MacOS
.DS_Store